
.pages-container {
  position: absolute;
  top: 0;
  left: 25%; /* match the width of the Sidebar */
  right: 0;
  bottom: 0;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100vh;
  min-width: 70%;
}

.users-list{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 10%;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
  margin-bottom: 10px;
  cursor: pointer;
}

.user:hover {
  background-color: #aaa;
}

.messages {
  display: flex;
  width: 200px;
  flex-direction: column;
}

.message {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  max-width: 80%;
  word-wrap: break-word;
}


.messages-align{
  display:flex;
  flex-direction: column;
  width: 400px;
}
.sent {
  align-self: flex-end;
  background-color: green;
  color: white;
}

.received {
  align-self: flex-start;
  background-color: grey;
}