
.pages-container {
  position: absolute;
  top: 0;
  left: 25%; /* match the width of the Sidebar */
  right: 0;
  bottom: 0;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70%;
  overflow-y: scroll;
  flex: 1/2;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.light-mode {
  background-color: #fff;
  color: #333;
}

.users-list{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    align-items: center;
    height: 100%;
    width: 10%;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: pointer;
}

.user:hover {
  transform: scale(1.1);
}

.messages {
  display: flex;
  width: 200px;
  flex-direction: column;
}

.message {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  max-width: 80%;
  word-wrap: break-word;
  opacity: 0; /* start with opacity 0 */
  animation: fade-in 0.5s ease-in-out forwards; /* animate to opacity 1 */
}

.messages-align{
  display:flex;
  flex-direction: column;
  width: 100%;
}

.sent {
  align-self: flex-end;
  background-color: #6E8891;
  color: white;
}

.received {
  align-self: flex-start;
  background-color: #e4e6eb;
  color:#050505;
}

.chat-form{
  display: flex;
  flex: 1;
  position: absolute;
  left: 0;
  width: 69%;
  height: 50px;
  bottom: 0;
}

input[type="text"],input[type="password"]  {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #e4e6eb;
}


button[type="submit"] {
  background-color: #6E8891;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #55707a;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}