
.edit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-style: none;
    border-radius: 10px;
    background-color: #6D819D;
    color: white;
    height: 3rem;
    font-size: 1rem;
    font-weight: 600;
    cursor:pointer;
    margin: 10px auto;
    transition: all 0.5s ease-out;
}

.edit-btn:hover{
    background-color: #3758B1;
}


.edit-profile-container{
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    
}

.edit-profile-container .edit-btn:first-child{
    width: fit-content;
    margin: 0 auto;
}

.edit-profile-container label {
    margin-top: 10px;
}


/*MODAL STYLES*/
.modal-container{
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    z-index: 1000;
    border-radius: 10%;
}

.overlay-styles{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right:0 ;
    background-color: rgba(0,0,0, .7);
}

