/*home content styles*/

.home-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 70%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.light-mode {
  background-color: #fff;
  color: #333;
}

.home-container::-webkit-scrollbar {
  display: none;
}

.home-header {
  top: 0;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8%;
}

.home-header h1 {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  z-index: 5;
}

.dropin-container {
  width: 100%;
  padding: 15px;
}

.dropin-input {
  display: flex;
  padding: 10px;
}

.dropin-input img {
  height: 70px;
  border-radius: 50%;
}

.dropin-input input {
  margin-left: 30px;
  width: 90%;
  font-size: 1.2rem;
  border-style: none;
  outline: none;
}

.dropin-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  border-style: none;
  border-radius: 10px;
  background-color: #6D819D;
  color: white;
  height: 3rem;
  font-size: 1rem;
  font-weight: 600;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.dropin-btn:hover{
  background-color: #3758B1;
}


.dropin-btn:disabled {
  background-color: black;
  color: white;
  cursor: not-allowed;
}

.post-container {
  overflow-y: scroll;
  height: 73%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.post-container::-webkit-scrollbar {
  display: none;
}

.post-avatar img {
  border-radius: 50%;
  height: 40px;
}

.post {
  display: flex;
  align-items: flex-start;

  padding: 10px 20px 10px 20px;
}

.post-body img {
  width: 450px;
  object-fit: contain;
  border-radius: 20px;
}

.post-footer {
  display: flex;
  width: 40%;
  
  margin-top: 10px;
}

.post-badge {
  font-size: 14px !important;
  color: var(--twitter-color);
  margin-right: 5px;
}

.post-headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post-headerText h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post-headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post-body {
  flex: 1;
  padding: 10px;
}

.post-avatar {
  padding: 20px;
}

.post-footer img {
  width: 25px;
  height: 40px;
}

