

.notes-form-container{
    width: 60%;
    margin: 0 auto;
    
}

.addnote-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-style: none;
    border-radius: 10px;
    background-color: #6D819D;
    color: white;
    height: 3rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.addnote-btn:hover{
    background-color: #3758B1;
}

textarea{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px 0 0 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #e4e6eb;
    resize: none;
    margin: 15px 0;
}

textarea::placeholder{
    font-family: Arial;
}

.update-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 30px;
    width: fit-content;
    border-style: none;
    border-radius: 10px;
    background-color: #6D819D;
    color: white;
    height: 3rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.update-btn:hover{
    background-color: #3758B1;
}

.notes-btn-container{
    display:flex;
    justify-content: space-between;
}