
.post-avatar img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.post {
  display: flex;
  align-items: flex-start;
  padding: 10px 20px 10px 20px;
  transition: transform 0.5s ease;
  position: relative;
  opacity: 0; /* start with opacity 0 */
  animation: fade-in 0.9s ease-in-out forwards;
}

.post a {
  text-decoration: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.post-body img {
  width: 450px;
  object-fit: contain;
  border-radius: 20px;
}

.post-body p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  max-width: 40vw;
}

.post-footer {
  display: flex;
  width: 40%;
  justify-content: space-between;
  margin-top: 10px;
}

.post-badge {
  font-size: 14px !important;
  color: var(--twitter-color);
  margin-right: 5px;
}

.post-headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post-headerText h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post-headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post-body {
  flex: 1;
  padding: 10px;
}

.post-avatar {
  padding: 20px;
}

.post-footer img {
  width: 25px;
  height: 40px;
}

.post-footer img:hover {
  background-color: black;
}

/*trash styling*/

.trash-icon {
  width: 20px;
}

.trash-icon:hover {
  transform: scale(1.3);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.date-paragraph {
  position: absolute;
  top: 80%;
  left: 90%;
  font-size: 0.65em;
  color: grey;
}

/*delete buttons styling*/

.delete-btns {
  position: absolute;
  right: 5%;
}
