/*mainsite container*/

.mainsite-container{
    display: flex;

}

/*home content styles*/

.home-container{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    height: 100vh;
    min-width: 60%;
}

.home-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
    border-bottom: 1px solid #EBEEF0
}

.home-header h1{
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
  
}

/*dropin box styling */

.dropin-container{
    width: 100%;
    padding: 15px;
    border-bottom: 7px solid #EBEEF0
}


.dropin-input{
    display: flex;
    padding: 10px; 
}

.dropin-input img{
    height: 70px;
    border-radius: 50%;
}

.dropin-input input{
    margin-left: 30px;
    width: 90%;
    font-size: 1.2rem;
    border-style: none;
    outline: none;
}


.dropin-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    border-style: none;
    border-radius: 10px;
    background-color: #6E8891;
    color: white;
    height: 3rem;
    font-size: 1rem;
    margin-left: auto;
}



/*navbar styling*/
nav{
    width: 25%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 40vh;
    font-size: 1.2rem;
    font-weight: 600;
}

.logout-btn{
    min-width: 120px;
    height: 40px;
    margin-bottom: 80px;
    background-color: #f5f5f5;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

nav img{
    height: 100%;
}

nav > a{
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    margin-top: 20px;

}

nav .nav-buttons a{
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 20%;
    transition:all 0.5s ease
}

.nav-buttons a:hover, .nav-buttons a.active  {
    border:1px white;
    background-color: #333;
    color: #fff;
  }

/*Post styling*/

.post-container{
    overflow-y: scroll;
    height:73%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.post-container::-webkit-scrollbar{
    display: none;
}

.post-avatar img{
    border-radius: 50%;
    height: 40px;
}

.post{
    display:flex;
    align-items: flex-start;
    border-bottom: 1px solid #EBEEF0;
    padding: 10px 20px 10px 20px;
}

.post-body img{
    width: 450px;
    object-fit: contain;
    border-radius: 20px;
}

.post-footer{
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-top: 10px;
}

.post-badge{
    font-size: 14px !important;
    color: var(--twitter-color);
    margin-right: 5px;
}

.post-headerSpecial{
    font-weight: 600;
    font-size: 12px;
    color: gray;
}

.post-headerText h3{
    font-size: 15px;
    margin-bottom: 5px;
}

.post-headerDescription{
    margin-bottom: 10px;
    font-size: 15px;
}

.post-body{
    flex: 1;
    padding: 10px;
}

.post-avatar{
    padding: 20px;
}


.post-footer img{
    width: 25px;
    height: 40px;
}